{extend name="index/base"/}
{block name="tdk"} 
{volist name="tdkResult" id="tdk"}
{volist name="abouthResult" id="abouth"}
{if $abouth.title==null}
<title>{$tdk.title}</title>
{else}
<title>{$abouth.title}</title>
{/if}
<meta name="description" content="{$abouth.description}" />
{if $abouth.keywords==null}
<meta name="keywords" content="{$tdk.keywords}"/>
{else}
<meta name="keywords" content="{$abouth.keywords}"/>
{/if}
{/volist}
{/volist}
{/block}
{block name="content"}
<!--内页详情开始-->
<div class="n_Main">
	<div class="n_left">
        <div class="n_title">
            <h3>Product  Center</h3>
        </div>
        <ul>
            <li><a href="/product.html">ALL Products</a></li>
            {volist name="mainResult" id="main"}
            {foreach $array as $key=>$value}
            {if $key==$main.id}
            <li><a href="/productl/{$value}.html" title="{$main.name}">{$main.name}</a></li>
            {/if}
            {/foreach}
            {/volist}
        </ul>
          {include file="index/right"/}
    </div>
	<div class="n_right">
		<!-- 面包导航 -->
        <div class="location">          
           <ul class="breadcrumb">
                {volist name="tdkResult" id="tdk"}
                <li><a href="/index.html">{$tdk.name}</a></li>
                {/volist}
              <li class="active">All Product</li>
            </ul>
        </div>
		<div class="n_centent">
        <ul class="alMain" >  
        {volist name="productResult" id="product"}   
          {foreach $array2 as $key=>$value}
               {if $key==$product.id}
                <li class="enlarge">
                    <div>
                        <a href="/producta/{$value}.html">
                            <img src="{$product.img}" width="275" height="215"/>
                        </a>
                    </div>
                    <div>
                        <p title="{$product.titles}">{$product.titles}</p>
                    </div>
                    <div>
                        <p class="xiang">
                            <a href="/producta/{$value}.html">Detail</a>
                        </p> 
                    </div> 
                    <div>
                        <p class="messages">
                            <a href="/Contact.html#bottom">Inquire Now</a>
                        </p> 
                    </div> 
                </li>
                {/if}
             {/foreach} 
            {/volist}
            </ul>          
            {if $page!=null}
             <div class="page_list">
                 <a class="page" href="/products/1.html" title="Home">&lt;</a>
                  {$page}
                 <a class="page" href="/products/{$max}.html" title="Tail">&gt;</a>
            </div>
            {/if}
            
		</div>
	</div>
</div>
{/block}
